@import "../abstracts/variables";
.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1% 5%;
  justify-content: space-between;
  background-color: $brand-color;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    font-size: 1.5rem;
    li {
      &:hover {
        cursor: pointer;
      }
      a {
        color: #212529;
        font-weight: bold;
        &:hover {
          text-decoration: none;
          color: lighten(#212529, 10%);
        }
      }
    }
  }
}

a {
  color: #212529;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: lighten(#212529, 10%);
  }
}

.loggedInNav {
  width: 500px !important;
}
